.container {

}

.songInfo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  min-width: 320px;
  background: -webkit-linear-gradient(top, #8fc400 0%,#8fc400 100%);
}

.songName, .songArtist{
  position: relative;
  top: -15px;
  text-align: center;
  font-family: arial;
  letter-spacing: -1px;
}

.songArtwork {
  position: absolute;
}